spring:
  datasource:
    url: jdbc:mysql://mysql.tool.net:23306/db?autoReconnect=true&createDatabaseIfNotExist=true&characterEncoding=utf8&characterSetResults=utf8&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: admin
    password: 123456
  jpa:
    hibernate:
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        default_catalog: db
        dialect: org.hibernate.dialect.MySQL5Dialect

  flyway:
    enabled: true
    business:
      clean-disabled: true
      baseline-on-migrate: true
      out-of-order: false
      locations:
        - classpath:db/migration

server:
  port: 8080

#logging.level.root: TRACE
